[submodule "NJ-WF"]
	path = NJ-WF
	url = https://github.com/WorkflowCenter-Repositories/NJ-WF.git
[submodule "Mega-NJ-Task"]
	path = Mega-NJ-Task
	url = https://github.com/WorkflowCenter-Repositories/Mega-NJ-Task.git
[submodule "Picard"]
	path = Picard
	url = https://github.com/WorkflowCenter-Repositories/Picard.git
[submodule "Columns-Invert-WF"]
	path = Columns-Invert-WF
	url = https://github.com/WorkflowCenter-Repositories/Columns-Invert-WF.git
[submodule "FileZip-WF"]
	path = FileZip-WF
	url = https://github.com/WorkflowCenter-Repositories/FileZip-WF.git
